html {height:100%}

body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: -1;
    min-height:100%
}

#main-navbar{
    z-index: 2;
}

.dropdown-menu{
    background-color: #007bff!important;
}

.dropdown-item{
    background-color: transparent!important;
    color: rgba(255,255,255,.5) !important;
}

.dropdown-item:hover{
    background-color: transparent!important;
    color: rgba(255,255,255,.75) !important;
}

/* BACKGROUND PARTICLES */
#particles-js {
    position: absolute !important;
    min-height: 100vh !important;
    height: 100% !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    z-index: -1;
    display: block;
    overflow: auto;
}

.navbar{
    font-family: 'Russo One', sans-serif;
    position: relative;
    display: flex;
    z-index: 1;
}

.jumbotron{
    padding: 2rem 2rem!important;
    position: relative;
    display: flex;
    z-index: 1;
    margin-bottom: 0px;
    margin-top: 0;
}

#login-jumbotron{
    width: 40%;
    left: 30%;
}

#main-page-jumbotron, #profile-jumbotron, #twitter-jumbotron{
    width: 80%;
    left: 10%;
}

/* LOGIN PAGE CSS */

.login_label{
    font-size: 1.2em;
}

.login_form{
    margin-bottom: 10px;
}

.signup-redirect{
    margin-top: 10px;
}

/* PROFILE PAGE CSS */

.my_fieldset{
    border: 1px solid grey;
    border-radius: 6px;
    font-size: 1em;
}

.pb-4{
    margin-bottom: 0px;
}

legend.profile_legend{
    width: inherit;
    padding: 10px 20px;
    font-size: 120%;
    margin-left: 15px;
    border-bottom: none;
}

.my_row{
    margin-bottom: 10px;
}


.profile_avatar_img{
    max-height: 120px;
    max-width: 120px;
    margin-bottom: 10px;
    horiz-align: center;
}

.avatar-btn{
    /*font-size: 0.8em;*/
    padding: 6px 6px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#id_avatar{
    display: none;
}

#userinfo_link{
    color: grey;
}

/* NEW POST */

.note-editable {
    background-color: white !important;
}

#heading{
    color: #007bff;
    margin: 10px;
    font-family: 'Russo One', sans-serif;
}