{% extends 'base.html' %}

{% block title %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/news/mainpage.css' %}">
    <title>Сайт Меньшикова Ивана</title>
{% endblock %}


{% block content %}
    <div id="main-page-jumbotron" class="jumbotron">
        <div class="container text-center">
            <div class="row">
                <div class="container h2" id="heading">
                    <p>Свежие новости и актуальные объявления</p>
                </div>
            </div>

            {# FIRST ROW #}
            <div class="row">
                {% for post in first_group %}
                    <div class="col-md-4 col-xs-12 text-left">
                        <div class="card border-light mb-3">
                            <div class="card-body">
                                <div class="card-header">
                                    <a href="{% url 'postdetail' pk=post.id %}"> <h5>{{ post.title|truncatewords:"9"}}</h5></a>
                                </div>
                                <div class="blog-post-meta">
                                    {{ post.created_date|date:"j.m.Y, H:i" }}, автор:
                                    <a id="userinfo_link" href="{% url 'userinfo' pk=post.author.id %}">{{ post.author }}</a>
                                    {% if user == post.author or user.is_staff %}
                                        <a href="{% url 'postdelete' pk=post.id %}" class="delete_btn">(удалить)</a>
                                    {% endif %}
                                </div>
                                <p class="card-text">
                                    {% if post.description %}
                                        {{ post.description|truncatewords:"20" }}
                                    {% else %}
                                        {{ post.text|striptags|truncatewords:"20"|safe }}
                                    {% endif %}
                                </p>
                                <div class="blog-post-meta">
                                    <a id='comments_link' href="{% url 'postdetail' pk=post.id %}">Comments: {{ post.post_comments.count }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {# SECOND ROW #}
            <div class="row">
                {% for post in second_group %}
                    <div class="col-md-4 text-left">
                        <div class="card border-light mb-3">
                            <div class="card-body">
                                <div class="card-header">
                                    <a href="{% url 'postdetail' pk=post.id %}"> <h5>{{ post.title|truncatewords:"9"}}</h5></a>
                                </div>
                                <div class="blog-post-meta">
                                    {{ post.created_date|date:"j.m.Y, H:i" }}, автор:
                                    <a id="userinfo_link" href="{% url 'userinfo' pk=post.author.id %}">{{ post.author }}</a>
                                    {% if user == post.author or user.is_staff %}
                                        <a href="{% url 'postdelete' pk=post.id %}" class="delete_btn">(удалить)</a>
                                    {% endif %}
                                </div>
                                <p class="card-text">
                                    {% if post.description %}
                                        {{ post.description|truncatewords:"20" }}
                                    {% else %}
                                        {{ post.text|striptags|truncatewords:"20"|safe }}
                                    {% endif %}
                                </p>
                                <div class="blog-post-meta">
                                    <a id='comments_link' href="{% url 'postdetail' pk=post.id %}">Comments: {{ post.post_comments.count }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

{#        PAGINATOR          #}
        {% if post_list.has_other_pages %}
            <nav class="float-right">
                <ul class="pagination">
                    {% if post_list.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ post_list.previous_page_number }}">Назад</a>
                        </li>
                    {% endif %}

                    {% for i in post_list.paginator.page_range %}
                        {% if post_list.number == i %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ i }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if post_list.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ post_list.next_page_number }}">Вперед</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
        </div>
    </div>

    <div style="height: 30px; width: 0"></div>

    {#  TWITTER EMBED  #}
    <div class="jumbotron" id="twitter-jumbotron">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 twitter-post">
                    <a class="twitter-timeline"
                       href="https://twitter.com/3blue1brown?ref_src=twsrc%5Etfw"
                       data-tweet-limit="1">Tweets by 3Blue1Brown</a>
                </div>
                <div class="col-md-4 twitter-post">
                    <a class="twitter-timeline"
                       href="https://twitter.com/SpaceX?ref_src=twsrc%5Etfw"
                       data-tweet-limit="1">Tweets by SpaceX</a>
                </div>
                <div class="col-md-4 twitter-post">
                    <a class="twitter-timeline"
                       href="https://twitter.com/numberphile?ref_src=twsrc%5Etfw"
                       data-tweet-limit="1">Tweets by Numberphile</a>
                </div>
                <script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
{% endblock %}