{% extends 'base.html' %}

{% block title %}
    {% load static %}
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'news/post.css' %}">
{% endblock %}

{% block content %}
    <div id="main-page-jumbotron" class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <div class="container h2" id="heading">
                    {{ post.title|linebreaks }}
                </div>
            </div>
            <div class="row">
                <div id="post-text" class="container text-left">
                    {{ post.text|safe|linebreaks }}
                </div>
            </div>
            <div class="row">
                {% if post.author.id == user.id or user.is_staff %}
                    <div class="blog-post-meta" style="margin-left: 0">
                        <a class="aimg" href="{% url 'postupdate' pk=post.id %}">
                            <img border="0" width="32px" height="32px" src="{% static 'icons/edit.png' %}">
                        </a>
                        <a class="aimg" href="{% url 'postdelete' pk=post.id %}">
                            <img border="0" width="32px" height="32px" src="{% static 'icons/delete.png' %}">
                        </a>
                    </div>
                {% endif %}
                <div class="blog-post-meta">
                    Пост создан {{ post.created_date|date:"j.m.Y, H:i" }}, автор:
                    <a id="userinfo_link" href="{% url 'userinfo' pk=post.author.id %}">{{ post.author }}</a><br>
                    Изменен: {{ post.modified_date|date:"j.m.Y, H:i" }}
                </div>

            </div>
{#        NEW COMMENT FORM        #}
            <div class="h4">Комментарии</div>

            <form enctype="multipart/form-data" method="post">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-sm-11">
                        {{ form.text }}
                    </div>
                    <div class="col-sm-1">
                        {% if user.is_authenticated %}
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        {% else %}
                            <button class="btn btn-secondary mb-2" style="font-size: 0.7em" disabled>Login<br>to comment</button>
                        {% endif %}
                    </div>
                </div>
            </form>


{#        COMMENTS SECTION        #}
            {% if comments %}
                <div class="container">
                    {% for comment in comments %}
                        <div class="row border-bottom">
                            <div class="blog-comment-meta float-left">
                                {{ comment.created_date|date:"j.m.Y, H:i" }}, автор:
                                <a id="userinfo_link" href="{% url 'userinfo' pk=comment.author.id %}">{{ comment.author }}</a>
                                {% if user == comment.author or user.is_staff %}
                                    <a href="{% url 'commentdelete' pk=comment.id %}" class="delete_btn">(удалить)</a>
                                {% endif %}
                            </div>
                            <div class="container text-left comment-text">
                                {{ comment.text|safe|linebreaks }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}