<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    {% load static %}
    <link rel="shortcut icon" href="{% static 'register/fav32.png' %}" />
    <title>Гиперболоид | Сайт Меньшикова Ивана</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{% static '/register/bootstrap/css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link rel="stylesheet" href="{% static 'mathematics/css/hyperboloid.css' %}">

</head>
<body>
    <div id="main">
        <canvas></canvas>
        <canvas></canvas>
    </div>
    <div id="controller"></div>

    <button id="return_btn" type="submit" class="btn btn-primary"
            onclick="window.location.href='{% url 'index' %}'; return false;">На главную</button>

    <div id="gratitude">
        <a class="a-gratitude" target="_blank" href="ru.wikipedia.org/wiki/Гиперболоид ">Википедия</a><br>
        <a class="a-gratitude" target="_blank" href="https://codepen.io/handsomeone">Автор: Zhou Qi</a>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.1/dat.gui.min.js'></script>
    <script type="text/javascript" src="{% static 'mathematics/js/hyperboloid.js' %}"></script>
</body>
</html>