{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if user.is_authenticated %}
        <title>Личный кабинет</title>
    {% endif %}
{% endblock %}


{% block content %}
    <div id="profile-jumbotron" class="jumbotron">
        <div class="container text-center">
            <div class="row">
                <div class="container h2" id="heading">
                    <p>Личный кабинет</p>
                </div>
            </div>
            <div class="row">
            {#    USER INFO      #}
                <div class="container col-lg-5 text-left">
                    <fieldset class="my_fieldset">
                        <legend class="profile_legend">Основная информация</legend>
                        <form method="post">
                            {% csrf_token %}

                            <div class="container">
                                <div class="row my_row">
                                    <div class="col-4">
                                        <label for="username">Логин:</label>
                                    </div>
                                    <div class="col-8">
                                        <input name="username" type="text" class="form-control" id="username" value={{user.username}}>
                                    </div>
                                </div>
                                <div class="row my_row">
                                    <div class="col-4">
                                        <label for="email">E-mail:</label>
                                    </div>
                                    <div class="col-8">
                                        <input name="email" type="email" class="form-control" id="email" value={{ user.email }}>
                                    </div>
                                </div>
                                <div class="row my_row">
                                    <div class="col-4">
                                        <label for="first_name">Имя:</label>
                                    </div>
                                    <div class="col-8">
                                        <input name="first_name" type="text" class="form-control" id="first_name" value={{ user.first_name }}>
                                    </div>
                                </div>
                            <div class="row my_row">
                                    <div class="col-4">
                                        <label for="last_name">Фамилия:</label>
                                    </div>
                                    <div class="col-8">
                                        <input name="last_name" type="text" class="form-control" id="last_name" value={{ user.last_name }}>
                                    </div>
                                </div>
                                <div class="row my_row">
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-primary" name="ui_button">Сохранить</button>
                                    </div>
                                    {% if message_ui %}
                                        <div class="col-9" style="color: red;">
                                            <h5 class="text-right">{{ message_ui }}</h5>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>


            {# AVATAR UPLOAD #}
                <div class="container col-lg-3 text-left">
                    <fieldset class="my_fieldset">
                        <legend class="profile_legend">Аватар</legend>
                        <form action="profile.html" method="post" enctype="multipart/form-data" id="av_form">
                            <div class="text-center">
                                <img class="profile_avatar_img" src="{{ request.user.myuser.avatar.url }}">

                                    {% csrf_token %}
                                    {{ form_av.avatar }}
                                <div class="text-center">
                                    <div class="container my_row">
                                        <span>
                                            <button type="button" class="btn btn-primary avatar-btn" name='browse_btn' id="browse_btn">Выбрать</button>
                                        </span>
                                        <span>
                                            <button type="submit" class="btn btn-primary avatar-btn" name="av_button" id="av_button">Сохранить</button>
                                        </span>
                                    </div>

                                    {% if message_av %}
                                        <h5 style="color: red;">{{ message_av }}</h5>
                                    {% endif %}

                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>

            {#    PASSWORD CHANGE     #}
                <div class="container col-lg-4 text-left">
                    <fieldset class="my_fieldset">
                        <legend class="profile_legend">Смена пароля</legend>
                        <form action="profile.html" method="post">
                            {% csrf_token %}

                            <div class="container">
                                <div class="row my_row">
                                    <div class="col-7">
                                        <label for="old_password">Старый пароль:</label>
                                    </div>
                                    <div class="col-5">
                                        <input name="old_password" type="password" class="form-control" id="old_password" placeholder="********">
                                    </div>
                                </div>
                                <div class="row my_row">
                                    <div class="col-7">
                                        <label for="new_password1">Новый пароль:</label>
                                    </div>
                                    <div class="col-5">
                                        <input name="new_password1" type="password" class="form-control" id="new_password1" placeholder="********">
                                    </div>
                                </div>
                                <div class="row my_row">
                                    <div class="col-7">
                                        <label for="new_password2">И еще раз:</label>
                                    </div>
                                    <div class="col-5">
                                        <input name="new_password2" type="password" class="form-control" id="new_password2" placeholder="********">
                                    </div>
                                </div>
                                <div class="row my_row">
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-primary" name="password_button">Сохранить</button>
                                    </div>
                                    {% if message_ps %}
                                        <div class="col-9" style="color: red;">
                                            <h5 class="text-right">{{ message_ps }}</h5>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
{#  Input avatar field replaced with a button  #}
<script>$(document).ready(function($){
    $("#browse_btn").click(function(){
        document.getElementById('id_avatar').click();
    });
    $("#av_button").click(function(){
        $("#av_form").submit();
    });});
</script>
{% endblock %}