.card-header{
    padding: 0px;
    height: 3.2em;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text{
    font-size: 0.9em;
    margin-bottom: 0px;
}

.blog-post-meta{
    color: #999;
    font-size: 0.7em;
    padding-top: 0.1em;
    margin-bottom: 0.3em;
}

.blog-post{
    padding-bottom: 30px;
    padding-top: 30px;
}

.return-btn{
    margin: 20px 0px 0px 10px;
}

.blog-comment{
    padding-top: 20px;
    padding-bottom: 0px;
}

#delete_btn{
    background: none;
    border: none;
    padding: 0;
    color: #999;
    text-decoration: underline;
    cursor: pointer;
}

#comments_link{
    color: grey;
}